.upload-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-image-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-image-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }